<h1>
 <strong><%= current_user.name %></strong>`s Page</h1>
<div>
  <p><%= current_user.name %>`s Events:</p>
  <h5>Upcoming events: </h5>
  <%= @upcoming.each do |event|%>
  
    <p>* <%= event.title %></p>
    <small><%= show_creator(event) %></small>
    <p><%= link_to 'More...', event_path(event) %></p>
     <p>*   *   *   *   *</p>
  <% end%><br />
  <h5>Past events: </h5>
  <%= @past.each do |event|%>
  
    <p>* <%= event.title %></p>
    <small><%= show_creator(event) %></small>
    <p><%= link_to 'More...', event_path(event) %></p>
     <p>*   *   *   *   *</p>
  <% end%>
</div>