<h3>Event#show</h3>
<h1>Event: <%= link_to @event.title %></h1>
    
    <p>Creator: <%= link_to @event.creator.name, user_path(@event.creator) %></p>
    <p>Place: <%= @event.place %></p>
    <p>Date: <%= @event.date %></p>

    <%= show_registration_button(@event) %>
    <p>Visitors:  <%= show_attendees(@attendees)  %></p>