<h3>Event#show</h3>
<h1>Event: <%= @event.title %></h1>
    
    <p>Creator: <%= @event.creator.name %></p>
    <p>Place: <%= @event.place %></p>
    <p>Date: <%= @event.date %></p>

    <%= show_registration_button(@event) %>
    <p>Visitors:  <%= show_attendees(@attendees)  %></p>
    <p>*   *   *   *   *</p>
    <%= link_to '<-- Back', root_path%>